<p><%= link_to 'Latest Events', latest_events_path %></p>
<ul>
	<% @events.each do |event| %>
  <li>
	  <%= link_to event.name, event_path(event) %>
    <%= link_to 'Attendee List', event_attendees_path(event) %>
    <%= link_to " (JSON)", event_path(event, :format => :json) %>
	  <%= link_to 'Edit', edit_event_path(event) %>
	  <%= link_to 'Delete', event_path(event), :method => :delete %>
  </li>
	<% end %>
</ul>

<%= paginate @events %>

<%= link_to 'New Event', new_event_path %>
<%= link_to "Atom feed", events_path(:format => :atom) %>
