<h3><%= @event.name %></h3>
<div id="like">
  <% if current_user.liked_event?(@event) %>
    <%= button_to "Unlike", like_event_path(@event), :remote => true %>
  <% else %>
    <%= button_to "Like", like_event_path(@event), :remote => true %>
  <% end %>
</div>
<p>
<% @event.groups.each do |g| %>
  <%= g.name %>
<% end %>
</p>

<div><%= @event.category_name %></div>
<div><%= @event.description %></div>
<div><%= image_tag @event.logo.url(:medium) %></div>


<div><%= link_to 'Back to index', events_path %></div>